<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="nlog.internal.txt"> 
  <targets> 
     <target xsi:type="File"
            name="file"
            autoFlush="True"
            fileName="log-${shortdate}.log"
            archiveFileName="log-${shortdate}.{#####}.log"
            archiveAboveSize="2097152"
            archiveNumbering="Sequence"
            maxArchiveFiles="100"
            layout="${longdate}|${logger}|${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="ColoredConsole" name="console" />
  </targets> 
  <rules>  
    <logger name="*" minlevel="Trace" writeTo="console" /> 
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>